/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Kavoon';
    src: url('assets/fonts/Kavoon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}