#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99f0f0;
    font-family: 'Kavoon';
    font-size: 24px;
}

#contenedor_timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bfc4c4;
    margin: 0;
    padding: 0.5em;
}

#timer {
    font-family: 'Kavoon';
    font-size: 24px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em;
}

#main p {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Kavoon';
}

#btnSumar {
    font-size: 22px;
    font-weight: bold;  
    margin: 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btnSumar img{
    width: 16em;
    height: 13em;
    transition: transform 0.1s ease;
}

#btnSumar img:active{
    transform: scale(0.87)
}

#iniciar {
    padding: 2em 1.5em;
    margin: 3em;
    font-weight: bold;
    font-family: 'Kavoon';
    border: 3px solid black;
    cursor: pointer;
}

#iniciar:disabled {
    cursor: not-allowed;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal div {
    background: white;
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    font-family: 'Kavoon';
    display: flex;
    flex-direction: column;
}

.modal button {
    margin-top: 1em;
    padding: 1em 2em;
    font-weight: bold;
}
