#fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    opacity: 65%;
    z-index: -1;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: #00ddc0 ;
    font-family: 'Kavoon';
    font-size: 24px;
    width: 25em;
    border-style: solid;
    border-width: 0em 0.35em 0.35em 0.35em;
    border-radius: 1em / 6em;
}

#header p {
    font-size: 24px;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    border-top: 0.25em solid black;
    text-align: center;
}

#header span {
    font-size: 30px;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0em;
    width: 100%;
}

#clicks {
    position: fixed;
    right: 0;
    font-family: 'Kavoon';
    font-size: 5rem;
    text-align: center;
    background-color: white;
    width: 2.25em;
    border-style: solid;
    border-radius: 50% 0 0 50%;
    border-width: 0.1em 0em 0.1em 0.1em;
}

#btnSumar {
    font-size: 2rem;
    font-weight: bold;  
    margin: 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btnSumar img{
    width: 16em;
    height: 13em;
    transition: transform 0.1s ease;
}

#btnSumar img:active{
    transform: scale(0.87)
}

#iniciar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-self: center;
    padding: 0.5em;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Kavoon';
    border-style: solid;
    border-width: 0.20em 0.20em 0em 0.20em;
    border-radius: 2em / 10em;
    cursor: pointer;
}

#iniciar:disabled {
    cursor: not-allowed;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal div {
    background: white;
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    font-family: 'Kavoon';
    display: flex;
    flex-direction: column;
}

.modal button {
    margin-top: 1em;
    padding: 1em 2em;
    font-weight: bold;
}
